.myInvestment-container {
    background-color: #353535;
}

.greeting {
    color: white;
    width: 20rem;
    font-size: 30px;
    font-family: 'Segoe UI';
    font-weight: 600;
}

.upperContainer {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    align-items: center;
    padding: 20px 20px;
}

.total {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;

}

@media only screen and (max-width: 800px) {
    .total {
        flex-wrap: wrap;
    }
}